#searchContainer {
	margin:10px 100px 100px 100px;
}
#keyword {
	float:left; 
	width:100%; 
	font-family:arial, sans-serif; color:#333;
	margin-bottom: 20px;
	background: #fff; 
	border:solid 1px #d9d9d9; 
	border-top:solid 1px #c0c0c0; 
	
}

#content {
	margin:20px;
	font-family:arial, sans-serif; 
	color:#333; 
	background: #fff; 
	
}